.filtros {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;

  select,
  input {
    padding: 0.5rem;
    font-size: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;

    &.vista-btn {
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f0f0f0;
  }
}

.contenedor-resumen {
  display: flex;
  flex-direction: row;
  gap: 2rem; // espacio entre tabla y gráfica
  align-items: flex-start;
  justify-content: space-between;
}

.tabla {
  flex: 1 1 60%;
  overflow-x: auto;
}

.grafica {
  flex: 1 1 40%;
}
